pyyaml
pytest-cov
coveralls
simpy
pint>=0.9
scipy>=1.5
chemicals>=0.1.5
IPython>=7.9.0 
colorpalette>=0.3.1
biosteam>=2.21.10
biorefineries>=2.16.8
pandas>=0.25.2
matplotlib>=3.1.1
numpy>=1.18.1 
xlrd==1.2.0
openpyxl>=3.0.0
free_properties>=0.2.5
flexsolve==0.3.32 
numba>=0.50.0
pyglet
ipykernel